/* 1085 px width minimum */
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playball&display=swap');

@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');

html, body{
    width: 100%;
    height: 100%;
    margin: 0;
}
/* Hidding Scrollbar on browser for website. */
body{
    overflow: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
body::-webkit-scrollbar {
    display: none;
}

.selected{
    opacity: 0.6;
}


/* Header Styling */ 
header{
    position: relative;
    top: 0;
    background-color: black;
    padding: 25px 0;
    overflow: auto;
    font-family: 'Inconsolata', monospace;
    font-weight: 600;
    z-index: 2;
    opacity: 0.95;
    width: 100%;
    z-index: 99999;
}

section#header_nav a{
    text-decoration: underline;
    color: white;
    padding: 0px 15px;
    font-size: 17px;
    float: left;   
}

section#header_nav a:hover{
    opacity: 0.7;
}

section#header_nav a:nth-child(1){
    padding-left: 25px;
}

section#header_icon img{
    height: 18px;
}

section#header_icon nav{
    display: flex;
    float:right;   
}

section#header_icon a{
    padding: 0px 15px;
    align-items:baseline;
    
}
section#header_icon a:hover{
    opacity: 0.7;
}
section#header_icon a:nth-child(1){
    padding-right: 9px;
}



/* Main Content */
main{
	margin: 100px 20%;
	height: auto;
	padding: 20px 0px;
	font-family: "Heebo", sans-serif !important;
	
}
h1{
	text-align: center;
	font-size: 3em;
}

h2{
	margin-top: 10px;
	font-weight: 700;
	padding: 10px 0;
	font-size: 1.5em;
	text-decoration: underline;
}

p{
	font-size: 1.3em;
}



/* Footer */
footer{
   background-color: black;
    padding: 25px 0;
    overflow: auto;
    position: relative;
    width: 100%;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
    
}
 
/* Footer Newsletter Elements */


#news_letter form{
    color: white;
    font-family: 'Inconsolata', monospace;
    font-weight: 400;
    letter-spacing: 1px;
    font-size: 17px;
    float: left;
    padding-left: 15px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
	z-index: 50;
}

footer #newsletter_input{
    border: solid white 1px;
    background-color: transparent;
    padding: 10px;
    margin:  0 20px 0 10px;
    color: inherit;
    font-family: inherit;
    border-radius: 5px;
    width: 300px;    
}

footer #newsletter_input:focus{
   border: solid black 1px;
    background-color: white;
    color: black;
    font-weight: 500;
}



footer #newsletter_submit{
    padding: 11px 15px;
    background-color: #1D83F6;
    border: none;
    color: white;
    font-family: 'Inconsolata', monospace !important;
    border-radius: 5px;
    width: 60px;
}

footer #newsletter_submit:hover{
    animation: slideWidth 5s 1;
    width: 100%;
    -webkit-animation-name: ShineAnimation;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: cubic-bezier(.12,.89,.98,.47);
    background-color: #1D8FFF;
}
        


/* Email Mail Label */
footer a{
    text-decoration: none;
    color: white;
    font-family: 'Inconsolata', monospace;
    font-weight: 600;
    letter-spacing: 1.3px;
    font-size: 17px;
    float: right;
    padding-right: 15px;
    
}